header{
    height: 56px; 
    background-color: var(--rosa-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cajaBuscador{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lupa{
    color: white;
    fill: white;
}